section {
    background-color: #252432;
    border-radius: 1rem;
    width: 85vw;
    margin-block-start: 5rem;
    position: relative;
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (orientation: landscape) {
    section {
        width: 55vw;
    }
}

@media (min-width: 48rem) {
    section {
        width: 40vw;
    }
}

@media (min-width: 64rem) {
    section {
        width: 35vw;
        padding: 2.5rem;
    }
}

@media (min-width: 64rem) and (orientation: landscape) {
    section {
        width: 30vw;
        padding: 2rem;
    }
}

@media (min-width: 90rem) {
    section {
        width: 25vw;
        padding: 2.8rem;
    }
}