section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}

.choice-label {
    background-color: #434343;
    color: orange;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: lighter;
}